html, body {
    height: 100%;
}

.main {
    height: 100%;
}

.main-body {
    height: calc(100% - 100px);
    background: var(--color-card-1);
    margin-top: 10px;
    border-radius: 7px;
    overflow: hidden;
}

.option {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.option > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.option > div:last-child {
    width: 300px;
    margin-left: 10px;
}

.fl-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-font-1);
}
.fl-body span {
    flex: 1;
}
.fl-body label > div {
    background: var(--color-card-2);
}

.add-opt {
    border-radius: 7px;
    margin-top: 10px;
}

.tab-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px;
    color: var(--color-font-1);
}
.tab-body:hover{
    background: var(--color-card-2) !important;
}
.tab-body span {
    flex: 1;
}
.tab-body button {
    background: #00000021;
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: -5px;
}
.tab-body button:focus {
    outline: none;
}
.tab-body button:hover {
    background: #00000021;
}
.tab-body button svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: var(--color-font-1);
    margin-top: -5px;
}

.tag-input {
    width: 100%;
    margin-top: 10px;
}
.tag-input input {
    min-height: 35px !important;
}

.end-action {
    margin-top: 10px;
    background: var(--color-card-1);
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.end-action button {
    padding: 0 30px;
    min-height: 40px;
    background: var(--color-card-2);
    color: var(--color-font-2);
}