html, body {
    height: 100%;
}

.main {
    height: 100%;
}

.main-body {
    height: calc(100% - 100px);
    background: var(--color-card-1);
    margin-top: 10px;
    border-radius: 7px;
    overflow: hidden;
}

.option {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.option > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.option > div:last-child {
    width: 300px;
    margin-left: 10px;
}

.fl-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-font-1);
}
.fl-body span {
    flex: 1;
}
.fl-body label > div {
    background: var(--color-card-2);
}

.add-opt {
    flex: 1;
    border-radius: 7px;
    background: var(--color-card-1);
    padding: 20px;
    margin-top: 10px;
}

.tab-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px;
    color: var(--color-font-1);
}
.tab-body:hover{
    background: var(--color-card-2) !important;
}
.tab-body span {
    flex: 1;
}
.tab-body button {
    background: #00000021;
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: -5px;
}
.tab-body button:focus {
    outline: none;
}
.tab-body button:hover {
    background: #00000021;
}
.tab-body button svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: var(--color-font-1);
    margin-top: -5px;
}

.tag-input {
    width: 100%;
    margin-top: 10px;
}
.tag-input input {
    min-height: 35px !important;
}

.end-action {
    margin-top: 10px;
    background: var(--color-card-1);
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.end-action button {
    padding: 0 30px;
    min-height: 40px;
    background: var(--color-card-2);
    color: var(--color-font-2);
}

/*编辑器覆盖颜色*/
.editormd-theme-dark {
    border-color: transparent;
}
.editormd-preview-theme-dark {
    color: var(--color-font-1);
    background: var(--color-card-2);
}
.editormd-theme-dark .editormd-toolbar {
    background: var(--color-card-2);
    border-color: transparent;
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
}
.editormd-theme-dark .editormd-menu>li>a {
    color: var(--color-font-1);
    border-color: transparent;
}
.editormd-theme-dark .editormd-menu>li.divider {
    border-right: 1px solid var(--color-font-2);
    transform: scaleY(0.5);
}
.editormd .CodeMirror pre {
    padding: 2px 12px !important;
    border-right: 1px solid var(--color-card-2) !important;
}
.editormd-preview-theme-dark .editormd-preview-container {
    color: var(--color-font-1) !important;
    background-color: var(--color-card) !important;
}
.cm-s-pastel-on-dark.CodeMirror {
    background: var(--color-card-1) !important;
    color: var(--color-font-1) !important;
    border-right: 1px solid var(--color-card-2) !important;
}
.cm-s-pastel-on-dark .CodeMirror-gutters {
    background: var(--color-card-2) !important;
}
.cm-s-pastel-on-dark .CodeMirror-linenumber {
    color: var(--color-font-1) !important;
}

.editormd-dialog {
    background: var(--color-card);
    color: var(--color-font-1);
    border-radius: 7px;
}
.editormd-dialog-header {
    border-bottom: 1px solid var(--color-card-1);
}
.editormd-dialog-header:hover {
    background: transparent;
}
.editormd-form {
    color: var(--color-font);
}
.editormd-form input[type=text],
.editormd-form input[type=number] {
    background: var(--color-card-1);
    border: 0;
    border-radius: 7px;
    min-width: 70px;
}
.editormd-dialog-container .editormd-btn, .editormd-dialog-container button, .editormd-dialog-container input[type=submit], .editormd-dialog-footer .editormd-btn, .editormd-dialog-footer button, .editormd-dialog-footer input[type=submit], .editormd-form .editormd-btn, .editormd-form button, .editormd-form input[type=submit] {
    color: var(--color-font-r);
    background: var(--color-main);
    border-radius: 7px;
    transition: opacity .3s;
    border: none;
}
button:hover {
    background: var(--color-main) !important;
    opacity: 0.8 !important;
}
.editormd-dialog-container select {
    background: var(--color-card-1);
    border: 0;
    border-radius: 7px;
    min-height: 34px;
    color: var(--color-font-1);
}
.CodeMirror-vscrollbar {
    display: none !important;
}
.CodeMirror-sizer {
    padding-right: 0 !important;
    border-right: 0 !important;
}
.editormd-theme-dark .CodeMirror {
    background: var(--color-card-1);
    border: 0 !important;
    border-radius: 0 !important;
}
.CodeMirror-gutters {
    background: var(--color-card-2) !important;
    border-color: transparent !important;
}
.CodeMirror-gutter-elt {
    color: var(--color-font-1);
}
