.main-list {

}
.main-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--color-card-1);
    padding: 10px 20px;
    text-align: center;
    transition: background .3s;
}
.main-list > div:not(:first-child):hover {
    background: var(--color-card-2);
}
.main-list > div:first-child {
    margin-top: 10px;
    border-radius: 7px 7px 0 0;
}
.main-list > div:last-child {
    border-radius: 0 0 7px 7px;
}
.main-list > div > a {
    width: 20%;
}
.main-list > div > span {
    width: 20%;
}
.main-list > div:not(:first-child) > div:first-child {
    min-height: 100px;
    border-radius: 7px;
    background-size: 100%, auto !important;
}
.main-list > div > div:first-child {
    width: 40%;
    margin-right: 10px;
}
.main-list > div > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-list > div > div:last-child button {
    width: 100px;
}

.list-empty {
    color: var(--color-font-2);
    background: var(--color-card-1);
    border-radius: 7px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
}