.theme-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-card-1);
    margin-top: 10px;
    border-radius: 7px;
    padding: 20px;
}
.theme-view img {
    width: 100%;
    border-right: 7px;
    margin-bottom: 10px;
}
.theme-view > div {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.theme-view div > div:first-child {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.theme-view div > div:first-child p {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-main);
    margin-bottom: 5px;
}
.theme-view div > div:first-child span {
    color: var(--color-font-1);
}
.theme-view div > div:first-child a {
    font-size: 0.9rem;
    color: var(--color-font-2);
}
.theme-view div > div:last-child {
    display: flex;
    flex-direction: column;
}
.theme-view div > div:last-child button {
    padding: 0 30px;
    margin: 2px 0;
}
.theme-view div > div:last-child button:not(:last-child) {
    background: var(--color-card-2);
    color: var(--color-font-2);
}