.info-card {
  display: flex;
}
.info-card > div:first-child {
  background: var(--color-card-1);
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-card > div:first-child img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.info-card > div:first-child p {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-main);
  margin-top: 10px;
  margin-bottom: 0;
}
.info-card > div:first-child span {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-font);
}
.info-card > div:last-child {
  flex: 1;
  margin-left: 10px;
}
.info-card > div:last-child div {
  background: var(--color-card-1);
}
.info-card > div:last-child input[type=text] {
  background: var(--color-card-2);
}
