# Built application files and Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
 
# Compiled class files
*.class
 
# Log Files
*.log
 
# About IntelliJ
*.iml
/.idea/
/out/
 
# BlueJ files
*.ctxt
 
# Mobile Tools for Java (J2ME)
.mtj.tmp/
 
# macOS
.DS_Store
 
# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
 
# File-based project format
*.iws
 
# mpeltonen/sbt-idea plugin
.idea_modules/
 
# JIRA plugin
atlassian-ide-plugin.xml
 
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
 
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# more
src/main/resources/*.properties
!src/main/resources/log4j.properties

# 这是 editor.md 的仓库依赖，为了不影响代码统计故不上传，请自行克隆补全
src/main/webapp/web/editor