:root {
    --main-color: #467b96;
}

html, body {
    padding: 0;
    margin: 0;
}

.main {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 100px);
}
.main > div:first-child {
    display: flex;
    align-items: center;
}
.main > div:first-child > div:first-child {
    flex: 1;
}
.main > div:first-child > div:first-child h1 {
    margin-bottom: 0;
}
.main > div:first-child label {
    width: 30%;
}
.main > div:first-child input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
}

.sort-body {
    border-bottom: 1px solid #00000047;
    display: flex;
    margin-top: 50px;
}
.sort-body a:first-child {
    border-radius: 5px 0 0 0;
}
.sort-body a:last-child {
    border-radius: 0 5px 0 0;
}
.sort-body a {
    border: 1px solid #00000047;
    border-bottom: 0 solid #00000047;
    padding: 10px 25px;
}
.sort-body a:link,
.sort-body a:visited {
    text-decoration: none;
    color: var(--main-color);
}
.sort-body a:hover {
    font-weight: bold;
}

.info-body {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.info-body > div:first-child {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.info-body > div:last-child {
    width: 30%;
}

.art-body {
    margin-left: 20px;
}
.art-body > div {
    border-bottom: 1px solid #00000021;
    padding: 20px 0;
}
.art-body > div:last-child {
    border-bottom: 0;
}
.art-body > div > a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--main-color);
}
.art-body > div > span {
    margin: 10px 0;
    display: block;
    opacity: 0.8;
}
.art-body > div > div:nth-child(2) {
    display: flex;
    align-items: stretch;
    margin-top: 5px;
    opacity: 0.5;
    font-size: 0.9rem;
}
.art-body > div > div:nth-child(2) a:link {
    color: var(--main-color);
}
.art-body > div > div:nth-child(2) div {
    margin: 0 10px;
    width: 2px;
    background: #00000026;
    transform: scaleY(0.8);
}

.page-controller {
    margin-right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.page-controller button {
    background: var(--main-color);
    color: #fff;
    height: 35px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

footer {
    border-top: 1px solid #00000047;
    margin-top: 50px;
}
footer > p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
}